body{
    background-color: black;
}

h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}
img{
    width: 100%;
    border:5px solid white;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}